/* Footer.css */

.footer {
  background-color: #323232;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotter-content-left,
.fotter-content-center,
.fotter-content-right {
  margin: 10px;
  flex: 1;
}

.fotter-content-left img {
  width: 100px; /* Adjust as necessary */
  margin-bottom: 10px;
}

.fotter-social-icons img {
  width: 30px; /* Adjust as necessary */
  margin: 0 5px;
}

h2 {
  color: tomato;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.footer-copyright {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .fotter-content-left,
  .fotter-content-center,
  .fotter-content-right {
    flex: 1;
    text-align: left;
  }

  .footer-copyright {
    text-align: center;
  }
}
